# Data structures

### This chapter is all about...
![](images/standard_ds.jpg)

## 1. Lists

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.


The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

### Creating lists

In [1]:
a = [1, 2, 3, 4]

In [2]:
type(a)

list

### Basic operations
![](images/list_oper.png)

In [6]:
len(a)

4

In [7]:
a + [1, 2, 3]

[1, 2, 3, 4, 1, 2, 3]

In [8]:
[1, 2, 3, 4]*4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [9]:
"jatin"*4

'jatinjatinjatinjatin'

In [12]:
7 in a

False

### Indexing and list slicing

![](images/indexing.png)

[start, end)

In [27]:
a[-1]

4

In [22]:
s = slice(0, 3, 1)

In [35]:
a

[4, 3, 2]

In [34]:
a = a[3:0:-1]

In [25]:
"jatin"[::2]

'jtn'

In [32]:
"jatin"[::-1]

'nitaj'

In [29]:
def isPal(s):
    return s == s[::-1]

In [31]:
isPal("aabaac")

False

### Updating the list

- insert

- append

In [36]:
a = [1, 2, 3, 4]

In [37]:
a.insert(3, 5)

In [38]:
a

[1, 2, 3, 5, 4]

In [39]:
a.append(6)

In [40]:
a

[1, 2, 3, 5, 4, 6]

### Deleting list elements

- del
- pop
- remove

In [49]:
a.pop?

In [48]:
a.pop(1)

1

In [45]:
a = [1, 2, 3, 4, 5, 4]

In [46]:
a.remove(4)

In [47]:
a

[1, 2, 3, 5, 4]

### Sorting and reversing

- sort and sorted

- reverse and reversed

In [66]:
a = [('a',3), ('b',4), ('c',4), ('d',1)]

In [68]:
sorted(a, reverse = True, key = lambda x: x[1])

[('b', 4), ('c', 4), ('a', 3), ('d', 1)]

In [69]:
sorted(a, key = lambda x: x[1])[::-1]

[('c', 4), ('b', 4), ('a', 3), ('d', 1)]

In [57]:
a.sort()

In [58]:
a

[1, 3, 4, 5, 6]

In [71]:
for i in reversed(a):
    print(i)

('d', 1)
('c', 4)
('b', 4)
('a', 3)

In [72]:
a = [1, 2, 3, 4, 5]

In [73]:
a[1] = 5

In [74]:
a

[1, 5, 3, 4, 5]

In [119]:
a = []
for i in range(10):
    a.append(i)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### List comprehension

In [122]:
a = [ i**2 for i in range(10) ]
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### map, strip and split function (just some utilities when you input a list)

### Printing a list using join

### Challenges
[Lists](https://www.hackerrank.com/challenges/python-lists)

[Find second maximum number in a list](https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/)

### And yeah, you can put a list in a list...
![](images/list_in_list.jpeg)

## 2. Tuples

Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.


Tuples are defined by specifying items separated by commas within an optional pair of parentheses.


Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used **will not change**.

In [75]:
a = (1, 2, 3, 4)

In [77]:
a[1]

2

In [78]:
a

(1, 2, 3, 4)

### List to tuple and tuple to list...

In [81]:
list(tuple(list(a)))

[1, 2, 3, 4]

### Returning multiple values from functions (The returned thing is a tuple!)

In [87]:
def ret_mult():
    a = 1 + 1
    b = 2 + 1
    return img, err

In [95]:
c, d = ret_mult()

In [94]:
c

2

In [96]:
a = [1, "jatin", 1.5, 5j]

In [97]:
a = 5
b = 9

In [ ]:
temp = a
a = b
b = temp

In [ ]:
a = a+b
b = a-b
a = a-b

In [ ]:
a = a^b
b = a^b
a = a^b

In [98]:
a, b = b, a

In [99]:
print(a, b)

9 5

In [101]:
a = (5,)
print(type(a))

<class 'tuple'>

### But...but I like Lists...

![](images/immutable.jpg)

- Tuples are faster than lists. If you're defining a constant set of values and all you're ever going to do with it is iterate through it, use a tuple instead of a list.


- It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that.

### Challenge
[Tuples](https://www.hackerrank.com/challenges/python-tuples)

![](images/tuple.jpeg)

## 3. Dictionary

- A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

- Remember that key-value pairs in a dictionary are not ordered in any manner.

![](images/dict.png)

In [126]:
a = {
    "name": "jatin",
    "marks": [70, 60, 80]
}

In [127]:
"name" in a

True

In [106]:
a['marks'][0]

70

In [125]:
a = {i:i**2 for i in range(10)}

In [124]:
a

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### Some important dict methods

- get()
- items()
- keys()
- values()
- clear()

In [107]:
a.get("name")
# a['name']

'jatin'

In [110]:
for key, value in a.items():
    print(key, " => ", value)

name  =>  jatin
marks  =>  [70, 60, 80]

In [111]:
a.keys()

dict_keys(['name', 'marks'])

In [112]:
a.values()

dict_values(['jatin', [70, 60, 80]])

### And yeah, keys of dict can be any immutable object, so...
<img src="images/dict_tuple.jpg" alt="sets_are_coming" style="width: 300px;"/>

### Challenge

Write a simple Python program which inputs and stores the data about university students as a list of dictioaries.
Your final record structure should look like this:

```
 [
     {
         'roll-no': 1211,
         'name': 'Ravi',
         'branch': 'CSE'
     },
     {
         'roll-no': 202,
         'name': 'Abhishek',
         'branch': 'SE'
     },
     {
         'roll-no': 1202,
         'name': 'Sachin',
         'branch': 'IT'
     }
 ]
 ```

## 4. Sets

<img src="images/sets.jpg" alt="sets_are_coming" style="width:250px;"/>


Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.


Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

In [114]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

In [118]:
a[0]

TypeError: 'set' object does not support indexing

### Ok...let's end this chapter right here but your tryst with data structures has just begun !!!

![](images/ds.jpg)

In [130]:
a = 10
b = 10
print(id(a))
print(id(b))
a = 11
print(id(a))

4346648928
4346648928
4346648960

In [135]:
a = [1, 2, 3, 4]
b = a
print(id(a))
print(id(b))
a[0] = 7
print(b)

4382977288
4382977288
[7, 2, 3, 4]

In [136]:
def edit(a):
    a = None
    a[0] = 100

In [141]:
a = [1, 2, 3, 4]
b = 1
print(id(a[0]))
print(id(b))

4346648640
4346648640